<p id="notice"><%= notice %></p>

<p>
  <strong>Mascota:</strong>
  <%= @pet_history.pet.name %>
</p>

<p>
  <strong>Condicion:</strong>
  <%= @pet_history.condition %>
</p>

<p>
  <strong>Diagnostico:</strong>
  <%= @pet_history.diagnostic %>
</p>

<p>
  <strong>Altura (en cm):</strong>
  <%= @pet_history.height %>
</p>

<p>
  <strong>peso (en kg):</strong>
  <%= @pet_history.weight %>
</p>
